*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/bg.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 170px;
    cursor: pointer;
}

nav{
    flex: 1;
    padding-left: 850px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}

nav ul li a{
    text-decoration: none;
    color: #545454;
    margin: 0px 20px;
    font-size: 25px
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #c79376;

}
.content h2{
    font-size: 23px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #545454;
}

.content ul{
    list-style: circle;
    font-size: 16px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 40px;
    color: #545454;
}

.form{
    position: absolute;
    bottom: 400px;
    right: 200px;
}

.content p{
    font-size: 16px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #545454;
}
