*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/bg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 170px;
    cursor: pointer;
}

nav{
    flex: 1;
    /*padding-left: 850px;*/
    padding-left:70%;
    white-space: nowrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 7px;
}

nav ul li a{
    text-decoration: none;
    color: #545454;
    margin: 0px 0 0 20px;
    font-size: 25px
}

a:hover {
    color: #808080;
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #c79376;
}

.content h2{
    font-size: 23px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #545454;
}

.content ul{
    list-style: circle;
    font-size: 16px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 40px;
    color: #545454;
}

.form{
    position: absolute;
    bottom: 400px;
    right: 200px;
}

.form-wrap{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 60px 40px;
    box-sizing: border-box;
    position: fixed;
    left: 78%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.form-wrap h1{
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #84a59d;
    text-align: center;
}

.form-wrap input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #545454;
    padding: 6px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

.form-wrap button{
    background-color: #84a59d;
    border: none;
    color: #FFFFFF;
    padding: 8px 20px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.form-wrap label {
    font-size: 16px;
    color: #545454;
    font-family: sans-serif;
}

.form-wrap select {
    width: 57%;
    margin-bottom: 20px;
    font-size: 14px;
    color: #545454;
}

.content p{
    font-size: 16px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #545454;
}

.content_foods h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #c79376;

}

.map_table_container {
  display: flex;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 48%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow-y: scroll;
    height: 470px;
    display: block;
}

.content-table thead tr {
    background-color: #84a59d;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #84a59d;
}

#map{
    height: 470px;
    width: 48%;
    margin: 25px 20px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: inline-block;
    border-radius: 5px;
}
